.Rproj.user
.RData
.Rhistory
/app/shiny/temp/*
/app/shiny/data/ttn/*
/app/shiny/data/csv/*
/app/shiny/data/cache/*
/app/shiny/config/*_Orig.csv

# exception to the rules
!.gitkeep
app/shiny/config/bldgHierarchy.csv
app/shiny/config/bldgHierarchy.csv
app/shiny/config/bldgHierarchy.csv
app/shiny/config/configCsv.csv
app/shiny/config/configInfluxdb.csv
app/shiny/config/configTtn.csv
app/shiny/config/dataPoints.csv
